@font-face {
  font-family:  "Roboto";
  src: url("/web_auth_oauth/static/src/fonts/Roboto-Medium.ttf");
}

h1 {
  font-family: 'Roboto', 'sans-serif';
}
#wrap{
  min-width: 100vw;
  min-height: 100vh;

}
#container-tai{
  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}

#sub-right{
  background-image:  url('/web_auth_oauth/static/src/img/tai_login_right_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 50%;
  float: left;
 
} 

#sub-left{
  height: 100vh;
  width: 50%;
  float: right;
} 
#condition-tai{
  color:#e95212
}
.default {
  border-color: #e7e7e7;
  color: rgba(25, 47, 98, 0.74);

}
.default:hover {
  color: rgba(25, 47, 98, 0.74);

}
.default>img{
  margin-right:10px;
}
#title-tai{
  text-align: center;
  font-size: 26px;
  color :#1a3f92;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
}
#title-tai-2{
  font-size: 20px;
  text-transform: none;
  color:#e95212;

}
.btn-signup{
  background-color: #1a3f92; 
  color: #e7e7e7;
  text-transform:uppercase;
}
.btn-signup:hover{
  color: #e7e7e7;
}
.btn-google {
 background-color: transparent;
 
} 
.btn-google :hover {
  color: #e7e7e7;
} 
.box31{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
}
#img4{
  width: 330px;
  position: absolute;
  bottom: 50px;
  right: 25px;
  

}
.personalise > .col-6:first-child, .personalise > .col-6:first-child>.container-fluid{
  padding-left:0;

}
.personalise > .col-6:last-child,.personalise > .col-6:last-child>.container-fluid{
  padding-right:0;

}
#img-entreprise{
  margin-bottom: 8em;
}
#img-entreprise2{
  margin-bottom: 4em;
}
.btn-previous{
  background-color:#e95212; 
  color: #e7e7e7;
  text-transform: uppercase;
}
.space-form{
  margin-bottom: 2em !important;
  color: rgba(25, 47, 98, 0.74)
}
.btn-cancel{
  background-color:#e95212 ;
  color:#e7e7e7
}
.btn-agree{
  background-color: #107834;
  color:#e7e7e7
}
