#actualite_hero {
    background-color: var(--tai-blue);
    color: var(--tai-white);
}

#actualite_detail_hero {
    background-image: url(https://images.pexels.com/photos/4050347/pexels-photo-4050347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--tai-blue);
}

#actualite_text, #actualite_detail_text {
    position: relative;
    z-index: 0;
}

#actualite_text>svg, #actualite_detail_text>svg {
    position: absolute;
    z-index: 10;
    right: 0px;
    bottom: 0px;
    height: 90%;
    transform: translateY(-5%);
}

#actualite_text>.hero_title, #actualite_detail_text>.hero_title {
    padding: 125px 0px;
}

#actualite_detail_text>.hero_title {
    color: var(--tai-blue);
}

#actualite_text>.hero_title:nth-child(2), #actualite_detail_text>.hero_title:nth-child(2) {
    font-size: 1.5rem;
    opacity: 0.8;
}

.actualite-card-container {
    background-color: transparent;
}

.actualite-card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 10px 20px 0 rgba(41, 41, 42, 0.07);
    border: solid 1px #ecf0fd;
}

.actualite-card>header {
    position: relative;
    height: 182px;
    width: 100%;
    margin-bottom: 25px;
}

.actualite-card>header>.btn-tai {
    transform: translate(0) !important;
}

.actualite-card>header>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.actualite-card>header>div {
    position: absolute;
    left: 10%;
    bottom: -25px;
}

#actualiteCarouselIndicators {
    transform: translateY(-25%);
    padding-bottom: 35px;
}

.carousel-indicators li {
    background-color: var(--tai-blue) !important;
}

.actualite-card>main {
    color: var(--tai-blue);
    margin-top: 15px;
}

.actualite-card>main>p {
    opacity: 0.8;
}

.actualite-card>footer>a {
    color: var(--tai-orange);
}

.carousel-item>* {
    transition: 0.4s ease-in-out;
}

.pattern-title {
    position: relative;
    z-index: 1;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.pattern-blue-bg {
    position: absolute;
    z-index: 0;
    left: 0%;
    top: 0%;
    width: 100px;
    height: 100px;
    transform: rotate(0deg);
    opacity: 0.3;
    border-radius: 100%;
    background-image: linear-gradient(135deg, #1a3f92 25%, rgba(25, 47, 98, 0) 97%);
}

.pattern-blue {
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100px;
    height: 100px;
    transform: rotate(0deg);
    opacity: 0.3;
    border-radius: 100%;
    background: linear-gradient(45deg, #1a3f92 1%, #fff 1%, #fff 49%, #1a3f92 49%, #1a3f92 51%, #fff 51%, #fff 99%, #1a3f92 99%);
    background-size: 6px 6px;
}

.line-h-2 {
    line-height: 2 !important;
}

#tai_actualite_carousel>.carousel-indicators li {
    background-color: var(--tai-orange) !important;
}

.actu-article-title>span, .actu-article-subtitle>span {
    position: relative;
    display: block;
    position: relative;
    height: 80px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actu-article-subtitle>span {
    height: 72px;
}

.tai_actualite_carousel>.carousel-inner>.carousel-item {
    min-height: 35vh !important;
}

@media screen and (max-width: 992px) {
    #tai_actualite_carousel>.carousel-inner>.carousel-item {
        min-height: 25vh !important;
    }
}