#tai_footer {
    background-color: var(--tai-blue);
    color: white;
    padding: 15px;
}

#tai_footer>div>section:last-child {
    color: var(--tai-grey);
}

#tai_footer>div>section>nav {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer_link {
    padding: 5px 15px;
    list-style: none;
}

.footer_link>a, .footer_link>a:hover {
    color: white !important;
    text-decoration: none;
}

.footer_link_list {
    padding-left: 0px;
    padding-top: 35px;
}

.footer_separator {
    height: 1px;
    background-color: var(--tai-grey);
    margin: 15px 0px;
}

.footer_svg_link {
    margin: 10px;
}

.footer_svg_link>a {
    background-color: transparent;
    color: transparent;
    padding: 0px;
    margin: 5px;
    overflow: hidden;
}

.footer_svg_link>a>svg {
    padding: 0px;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .footer_link {
        font-size: 0.8rem;
        padding: 5px 5px;
        list-style: none;
    }
}