/* TAI CSS*/

::after,
::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Pas adapté chez moi */
    position: relative;
    min-height: 100vh;
    background-color: var(--tai-white);
}

h1 {
    font-family: 'Roboto', 'sans-serif';
}

img {
    max-width: 100%;
}

input {
    outline: none;
    border: none;
}

button,
button>*,
button>*>* {
    line-height: 1;
}


/* Header */


/* ------------------------------*/
#wrapwrap {
    position: relative;
}

#header_container {
    position: sticky;
    z-index: 100000;
    left: 0px;
    top: 0px;
}

@keyframes scrollDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrollUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#tai_header_top {
    background-color: var(--tai-blue);
}

#tai_header_top_nav {
    background-color: var(--tai-blue);
}

#tai_header_top>nav>div {
    padding-right: 0px;
}

#tai_header_top_nav>ul>li>.nav-link {
    color: var(--tai-white);
    transition: 0.4s ease-in-out;
}

#tai_header_top_nav>ul>li>.nav-link:hover {
    color: var(--tai-orange);
}

#tai_header_bottom>nav {
    padding: 0px;
}

#header_logo_container {
    padding: 0px;
    margin: 0px;
}

#header_logo {
    height: 90px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 1rem;
}

.nav-item {
    height: 100%;
}

.tai_nav_link>.nav-link {
    position: relative;
    height: 100%;
    color: var(--tai-blue);
    overflow: hidden;
    margin: 0px 8px;
    padding: 2.1rem 0.4rem;
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
    font-weight: bold;
}

.tai_nav_link>.nav-link::after {
    position: absolute;
    content: "";
    z-index: 100;
    left: -100%;
    right: 0%;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    border-radius: 50px;
}

.tai_nav_link>.nav-link:hover::after {
    background-color: var(--tai-orange);
    left: 0%;
}

.tai_nav_link>.nav-link-active::after {
    left: 0%;
    background-color: var(--tai-orange);
    border-radius: 100px;
}

@media screen and (max-width: 1200px) {
    #header_logo_container {
        display: none;
    }

}

@media screen and (max-width: 992px) {
    #wrapwrap {
        padding-bottom: 7rem;
    }
}