.t-btn {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

body {
    background-color: rgba(107, 161, 234, 0.15);
}

.bg-portal {
    background-color: rgba(107, 161, 234, 0.15)
}

.t-sub-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
    letter-spacing: normal;
}

.tai-active-tab {
    background-color: #1a3f92;
    color: #fff;
}

.active-right {
    border-top-right-radius: inherit
}

.active-left {
    border-top-left-radius: inherit
}

.portal-profile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) !important;
    width: 100px;
    height: 100px;
}

.portal-profile>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-info-text {
    color: rgba(25, 47, 98, 0.74);
    font-size: 14px;
    padding-top: 70px;
}

.profile-name {
    color: #1a3f92;
    font-size: 18px;
}

.list-tabs {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.hide {
    display: none !important;
}

.t-text-secondary {
    color: rgba(25, 47, 98, 0.63);
}

.body-tab {
    min-height: 572px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.portal-header {
    width: 100%;
    border-radius: 8px;
}

.d-flex.align-items-center.justify-content-center>.container-step {
    margin-left: 150px;
    margin-right: 150px;
}

.modal-content {
    border-radius: 13px !important;
}

.rounded-step {
    width: 24px;
    height: 24px;
    border: solid 1px #1a3f92;
    background-color: #fff;
    color: var(--tai-blue);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.passed-step {
    background-color: var(--tai-blue) !important;
    color: var(--tai-white) !important;
}

.title-step {
    font-size: 14px;
    font-weight: 500;
    color: rgba(25, 47, 98, 0.74);
}

.modal-upload-button {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    border: solid 1px #e5e5e5;
}

.container-upload-aera {
    background-color: #f7f9fb;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border: solid 1px #e5e5e5;
    height: 250px;
}

.photo {
    border: 2px dashed #e2e6ea;
    border-radius: 24px;
    height: 196px;
}

.t-nav-link {
    color: rgba(25, 47, 98, 0.63) !important;
    text-decoration: none !important;
}

.t-nav-link:hover {
    color: var(--tai-orange) !important;
}

.t-nav-link-active {
    color: var(--tai-orange) !important;
    font-weight: 700 !important;
}

.p_content_section {
    min-height: 400px;
    border-radius: 8px;
}

.online {
    padding: 3.5px 7px 1.5px;
    border-radius: 8px;
    background-color: #48bb78;
    color: #fff;
}

.font-s-14 {
    font-size: 14px;
    line-height: 1.4;
}

.t-input-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-bottom: 0px;
}

.t-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.t-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    bottom: 2px;
    left: 2px;
}

input:checked+.t-slider {
    background-color: #48bb78;
}

input:focus+.t-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.t-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.t-slider.round {
    border-radius: 34px;
}

.t-slider.round:before {
    border-radius: 50%;
}

.limit-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.trip-border-tabs h2::after {
    bottom: 30% !important;
}

.container-fluid.trip-border-tabs {
    border-top: 1px solid #e5efff;
    border-bottom: 1px solid #e5efff;
}

.card-job {
    position: relative;
    font-weight: bold;
    padding-left: 0px;
    color: var(--tai-green);
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}

@media screen and (max-width: 992px) {
    .modal.show .modal-dialog {
        margin-bottom: 7rem;
    }
}