/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500;700&display=swap'); */

@font-face {
    font-family: "Roboto";
    src: url("./../assets/fonts/Roboto-Medium.ttf");
}

::after,
::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*** Redéfinition des variables couleurs Bootstrap ***/
    /*
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    */
    /*** Définition des variables couleurs TAI ***/
    --tai-white: rgba(0, 0, 0, 0.07);
    --tai-blue: #1a3f92;
    --tai-orange: #e95212;
    --tai-green: #107834;
    --tai-dark-blue: #192f62;
    --tai-light-blue: rgba(25, 47, 98, 0.63);
    --tai-grey: rgba(215, 228, 249, 1);
    --tai-white: #ffffff;
    background-color: var(--tai-white);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--tai-white);
}

h1,
h2 {
    margin-bottom: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'sans-serif';
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    color: var(--tai-blue);
}

h2 {
    color: var(--tai-dark-blue);
    font-size: 2.3rem;
}

img {
    max-width: 100%;
}

input {
    outline: none;
    border: none;
}

button,
button>*,
button>*>* {
    line-height: 1;
}

@media screen and (max-width: 576px) {
    thead{
        display: flex !important; 
    }
}