.tai_destination_detail {
    padding: 10px;
    z-index: 1000;
    overflow-x: hidden;
}

.tai_destination_detail>p, .tai_destination_detail>*{
    color: rgba(25, 47, 98, 0.63);
    padding-left: 45px;
}

.tai_title2>h3 {
    color: var(--tai-orange);
    font-weight: bold;
    z-index: 1000;
    font-size: 1.3rem;
}

.tai_title2 {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    margin-top: 37px;
    overflow-x: visible;
    padding-left: 45px;
    font-weight: bold;
}

.tai_title2>p {
    text-align: justify !important;
}

.tai_title2>h2 {
    position: relative;
    overflow: visible;
    width: fit-content;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: var(--tai-blue);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0px;
}

.bg_pattern {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0%, -35%);
    z-index: -1;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #e5efff 0%, rgba(229, 239, 255, 0.63) 84%, rgba(229, 239, 255, 0.651) 100%);
}

.pattern {
    z-index: -1;
    width: 75px;
    height: 75px;
    flex-grow: 0;
    opacity: 0.3;
    background: linear-gradient(45deg, #1a3f92 1%, #fff 1%, #fff 49%, #1a3f92 49%, #1a3f92 51%, #fff 51%, #fff 99%, #1a3f92 99%);
    background-size: 6px 6px;
    border-radius: 50%;
}

.tai_title2>h2::after {
    position: absolute;
    content: "";
    left: 100%;
    top: 50%;
    transform: translate(0%, 50%);
    z-index: -1;
    height: 2px;
    width: 10000px;
    background-color: rgba(26, 62, 146, 0.301);
    margin-left: 10px;
}

.destination_hero_title{
    padding-left: 45px;
}