#tai_mission_offer_detail{
    z-index: 1;
    position: relative;
    background-color: var(--tai-blue);
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#tai_mission_offer_detail > * > *{
    color: white!important;
    z-index: 10000;
}
#tai_mission_offer_detail > * > h1, #tai_mission_offer_detail > * > h2{
    font-weight: bold;
}
#tai_mission_offer_detail > * > h2{
    font-size: 1.4rem;
}
#tai_mission_offer_detail > * > .btn-tai{
    margin-left: 0px;
}
#tai_mission_offer_detail > * > img{
    z-index: 0;
    position: absolute;
    right: 0%;
    height: 100%;
}
.mission_detail_list {
    list-style-type: none;
}

.mission_detail_list > li:before {
    content: '- ';
    display: inline;
}

.mission_detail_list > li {
    padding-left: 25px;
}

#tai_mission_offer_detail> * > h2 > span{
    color: white !important;
}