#tai_text_destination {
	color: #1a3f92;
	max-width: 200px;
	text-align: left;
	font-size: 36px;
	font-weight: 800;
	line-height: 1.31;
	position: absolute;
	top: 40px;
	left: 60px
}

#first_text_destination {
	position: relative;
	width: 800px;


}

#second_text_destination {
	position: relative;
	width: 700px;
}

.tai_img_desti {
	position: relative;

}

#tai_desti_country {
	position: absolute;
	bottom: 90px;
	left: 36px;
	font-family: Inter;
	font-size: 26px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.89;
	letter-spacing: normal;
	text-align: left;
	color: #fff;
}

.Rectangle-238 {
	position: absolute;
	bottom: 75px;
	left: 36px;
	width: 64px;
	height: 6px;
	border-radius: 5px;
	background-color: #e95212;
}

.tai_container_desti {
	position: relative;
}

@media only screen and (max-width: 479px) {
	#first_text_destination {
		width: 90%;
	}
}

/* NEW VERSION */
.tai_titles_circle {
	position: relative;
	padding-left: 40px;
	padding-top: 40px;

}

.tai_titles_circle>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
}

.tai_titles_circle>h2 {
	color: #1a3f92;
	font-weight: bold;
	font-size: 2.2rem;
}

@media screen and (max-width: 992px) {
	.tai_titles_circle {
		padding-left: 20px;
		padding-top: 20px;

	}

	.tai_titles_circle>img {
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
	}

	.tai_titles_circle>h2 {
		color: #1a3f92;
		font-weight: bold;
		font-size: 1.5rem;
	}
}