.tai_nav_link {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 20px);
    font-size: 0.9em;
    z-index: -1;
    width: 200px;
    padding: 10px;
    background-color: var(--tai-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s ease-out;
}

.sub-menu-link,
.sub-menu-link>a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--tai-grey)!important;
    margin-bottom: 10px;
    text-align: left;
    transition: 0.4s ease-in-out;
}

.sub-menu-link>a:hover {
    color: var(--tai-orange)!important;
    text-decoration: none;
}

.tai_nav_link:hover>.sub-menu {
    z-index: 3000;
    opacity: 1;
}

.sub-menu::before {
    position: absolute;
    content: "";
    background-color: transparent;
    width: 0px;
    height: 0px;
    top: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--tai-blue);
    box-sizing: initial;
}