.Qui-sommes-nous {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2.5em;
  color: #1a3f92;
  font-family: 'Roboto';
  font-weight: bold;
}

.tai_about_title {
  line-height: 1.53;
  color: #1a3f92;
  font-family: Inter;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  margin-left: 50px;
  margin-top: 10px;
}

.tai_about_text {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: justify;
  color: rgba(25, 47, 98, 0.63);
}

.tai_about_bubble {
  width: 135.9px;
  height: 135.9px;
  border-radius: 50%;
  background: linear-gradient(45deg, #1a3f92 1%, #fff 1%, #fff 49%, #1a3f92 49%, #1a3f92 51%, #fff 51%, #fff 99%, #1a3f92 99%);
  background-size: 6px 6px;
}

.Vector-9 {
  width: 1px;
  height: 131px;
  background-color: rgba(26, 63, 146, 0.22);
}

.tai_second_title {
  line-height: 1.53;
  color: #1a3f92;
  font-family: Inter;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  max-width: 100%;
}

.tai_second_bubble {
  width: 135.9px;
  height: 135.9px;
  border-radius: 50%;
  background: linear-gradient(45deg, #1a3f92 1%, #fff 1%, #fff 49%, #1a3f92 49%, #1a3f92 51%, #fff 51%, #fff 99%, #1a3f92 99%);
  background-size: 6px 6px;
  max-width: 100%;
}

.Rectangle-1053 {
  width: 234px;
  height: 364px;
  border-radius: 20px;
  background-color: #edf0fd;
}

img.Rectangle-236 {
  width: 213px;
  height: 271px;
  object-fit: contain;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.Nom-PAYS {
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #1a3f92;
}

.text-style-1 {
  color: #e95212;
}

.about-soutiens {
  background-color: rgba(215, 228, 249, 0.5);
}

.about-representant {
  border-radius: 20px;
  background-color: #edf0fd;
}

.about-representant>img {
  border-radius: 20px;
}

@media screen and (max-width: 992px) {
  .tai_about_text {
    font-size: 1rem !important;
  }
}