#tai_testi {
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0x;
	margin-right: 0px;
	background-image: linear-gradient(to bottom, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14%, #ecf0fd 46%, rgba(236, 240, 253, 0.43) 84%, rgba(236, 240, 253, 0) 100%);

}

.item {
	width: 460.3px;
	height: 270.7px;
	padding-left: 50px;
	position: relative;
	padding-right: 50px;
	border-radius: 20px;
	color: rgba(26, 63, 146, 0.64);
	box-shadow: 0 18px 52.9px 0 rgba(215, 228, 249, 0.5);
	background-color: #fff;
	margin-top: 30px;
}

.item1 {
	width: 460.3px;
	height: 270.7px;
	padding-left: 50px;
	position: absolute;
	padding-right: 50px;
	top: 10px;
	border-radius: 20px;
	color: rgba(26, 63, 146, 0.64);
	box-shadow: 0 18px 52.9px 0 rgba(215, 228, 249, 0.5);
	background-color: #fff;


}

.item2 {
	width: 460.3px;
	height: 270.7px;
	padding-left: 50px;
	position: absolute;
	padding-right: 50px;
	top: -10px;
	border-radius: 20px;
	color: rgba(26, 63, 146, 0.64);
	box-shadow: 0 18px 52.9px 0 rgba(215, 228, 249, 0.5);
	background-color: #fff;


}

.img_temoignage {
	position: absolute;

}

.img_temoignage:nth-child(1) {
	right: 105%;
	bottom: 92%;
}

.img_temoignage:nth-child(2) {
	right: 110%;
	bottom: 35%;
}

.img_temoignage:nth-child(3) {
	right: 95%;
	bottom: -25%;
}

.img_temoignage:nth-child(4) {
	right: -17%;
	bottom: 94%;
}

.img_temoignage:nth-child(5) {
	right: -28%;
	bottom: 35%;
}

.img_temoignage:nth-child(6) {
	right: -16%;
	bottom: -23%;
}

.img_temoignage:nth-child(7) {
	right: 18%;
	bottom: -20%;
}

.img_temoignage:nth-child(8) {
	right: 23%;
	bottom: -20%;
}

#img_temoignage_container {
	position: relative;
}

.tai_section2 {
	padding-right: 25em;
	padding-left: 0px;

}

.tai_bubble {
	width: 150.9px;
	height: 150.9px;
	border-radius: 50%;

	background: linear-gradient(45deg, #1a3f92 1%, #fff 1%, #fff 49%, #1a3f92 49%, #1a3f92 51%, #fff 51%, #fff 99%, #1a3f92 99%);
	background-size: 6px 6px;

}

.tai_para {
	line-height: 1.53;
	color: #1a3f92;
	font-family: Inter;
	font-size: 34px;
	font-weight: bold;
	font-stretch: normal;
}

.tai_para {
	width: 441.2px;
	height: 161px;
	line-height: 1.53;
	color: #1a3f92;
	font-family: Inter;
	position: absolute;
	top: 44px;
	left: 36px;
	font-size: 27px;
	font-weight: bold;
	font-stretch: normal;
}

.tai_text {
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: justify;
	color: rgba(25, 47, 98, 0.63);
	margin-top: 50px;
}

.img_illustrations {
	background-image: url("img/tai_jta1.webp");
	background-size: 120px 300px;
}

@media screen and (max-width: 992px) {
	.tai_para {
		width: 275px;
		font-size: 1.5rem;
	}

	.tai_text {
		font-size: 1rem !important;
	}

}

#enterprise_testimonial_carousel_inner>.carousel-item::before {
	display: none;
}