#tai_hero {
    position: relative;
    overflow: visible;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0rem;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 8.33333%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.hero_text>.btn-tai {
    font-size: 1rem !important;
    margin-left: 0px;
}

.hero_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.5em;
    color: var(--tai-white);
    font-family: 'Roboto';
    font-weight: bold;
}

#hero_logo {
    position: absolute;
    right: 8.33333%;
    bottom: 5%;
    z-index: 100;
    width: 110px;
}

@media screen and (max-width: 992px) {
    .hero_title {
        font-size: 1.1em;
        font-weight: bold;
    }

    #hero_logo {
        width: 70px;
    }
}

@media screen and (max-width: 700px) {
    .hero_title {
        font-size: 0.9em;
        font-weight: bold;
    }

    .hero_text>.btn-tai {
        font-size: 0.9em;
    }
}

/* NEW VERSION OF HERO */


.tai_hero_section_container {
    position: relative;
    width: 100%;
    min-height: 35vh;
}

.tai_hero_section_container::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #1a3f92;
    opacity: 0.5;
}

.tai_hero_section {
    position: relative;
    width: 100%;
    min-height: inherit;
}

.tai_hero_section_bg {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;

}

.tai_hero_section_text {
    text-shadow: 0px 0px 5px black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.tai_hero_section_text>h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.tai_hero_section_text>p {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.tai_hero_section_logo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 175px;
    z-index: 10;
}

@media screen and (max-width: 992px) {
    .tai_hero_section_container {
        min-height: 25vh;
    }

    .tai_hero_section_text>h1 {
        font-size: 1.5rem;
    }

    .tai_hero_section_text>p {
        font-size: 1rem;
    }

    .tai_hero_section_logo {
        width: 100px;
    }
}