#tai_choose_type {
    position: relative;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 75px;
    padding: 10px;
    background-color: var(--tai-blue);
    color: var(--tai-white);
}

#tai_choose_type>div:first-child,
#tai_choose_type>div:last-child {
    padding: 1em 4em;
    text-align: center;
}

#tai_choose_type>div:first-child>p>strong {
    color: var(--tai-green);
    text-shadow: 0px 0px 2px black;
}

#tai_choose_type>div:last-child>p>strong {
    color: var(--tai-orange);
    text-shadow: 0px 0px 2px black;
}

.tai_separator {
    position: absolute;
    background-color: var(--tai-grey);
    left: 50%;
    top: 0%;
    transform: translate(-100%, 10%);
    height: 80%;
    width: 1.5px;
}

.img_illustrations {
    height: fit-content;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 1;
}

.img_illustrations>img {
    position: absolute;
    border-radius: 10px;
    width: 40%;
}

.illustration_container {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
}

.illustration_container>.illustration_svg {
    z-index: -1 !important;
}

#tai_main>.illustration_container:first-child {
    z-index: 500;
    border-bottom: 2px solid red;
}

.img_illustrations:first-child>img {
    height: 40%;
    width: min-content;
}

.img_illustrations>img:first-child {
    left: 5%;
    top: -10%;
}

.img_illustrations>img:last-child {
    z-index: 500;
    right: 5%;
    bottom: -10%;
}

#last_cta {
    position: relative;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 75px;
}

#last_cta_bg {
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);
    bottom: 0%;
}

#last_cta>img {
    z-index: 100;
}

@media screen and (max-width: 768px) {
    #tai_choose_type {
        margin-top: 5px;
        font-size: 0.9rem;
        margin-bottom: 15px;
    }

    #tai_choose_type>div:first-child,
    #tai_choose_type>div:last-child {
        padding: 0.5em 0.5em;
        text-align: center;
    }

    .tai_separator {
        position: absolute;
        background-color: var(--tai-grey);
        left: 0%;
        top: 50%;
        transform: translate(10%, -100%);
        width: 80%;
        height: 1.5px;
    }
}

@media screen and (max-width: 992px) {

    .img_illustrations {
        margin-top: 100px;
        margin-bottom: 100px;
    }

}