.collapse-faq-rubrique-question {
  background-color: #e5efff;
  transition: 0.3s linear;
}

.faq-questions {
  color: #64769c;
}

.collapse-faq-rubrique-reponse, .collapse-faq-rubrique-reponse>* {
  text-align: justify;
}

/*  */
.FAQ {
  width: 694px;
  height: 55px;
  margin-top: 1150px;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: right;
  color: #1a3f92;
  font-size: 65px;
}

.Rectangle-801 {
  width: 745px;
  height: 52px;
  margin: 37px 0 0 155px;
  padding: 0 0 0 691px;
  border-radius: 8px;
  background-color: #fff;
}

.Rectangle-802 {
  width: 54px;
  height: 52px;
  padding: 13px;
  border-radius: 8px;
  background-color: #e95212;
}

img.search {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.hero_text_FAQ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 8.33333%;
  top: 30%;
  transform: translateY(-50%);
  z-index: 100;
}

.faq_text1 {
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: justify;
  color: rgba(25, 47, 98, 0.63);
}

#tai_choose_type_faq {
  width: 75%;
  background-color: var(--tai-grey);
  color: var(--tai-white);
  height: 50%;
}

.blue_surface {
  background-color: #1a3f92;
  margin-top: 4%;
}

.BlockTitle {
  width: 735px;
  height: 29px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(25, 47, 98, 0.63);
  margin-left: 2%;
}

.cercle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: white;
  float: right;
  margin-top: 10px;
  border: #fff;
}

.text_faq_title {
  margin-top: 6%;
  width: 75%;
}

.Number {
  width: 57px;
  height: 58px;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.25px;
  color: #1a3f92;
  margin-left: 2%;
}


.Rectangle-2 {
  width: 193px;
  height: 45px;
  flex-grow: 0;
  text-align: center;
  border-radius: 10px;
  background-color: #e95212;
  border: #e95212;
}

.Voir-Plus {
  width: 180px;
  height: 107px;
  flex-grow: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.tai_faq_para {
  line-height: 1.53;
  color: #1a3f92;
  font-family: Inter;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  margin-left: 50px;
  margin-top: 10px;
  width: 500%;
}

.tai_faq_bubble {
  width: 135.9px;
  height: 135.9px;
  border-radius: 50%;
  background: linear-gradient(45deg, #1a3f92 1%, #fff 1%, #fff 49%, #1a3f92 49%, #1a3f92 51%, #fff 51%, #fff 99%, #1a3f92 99%);
  background-size: 6px 6px;
  margin-left: 12%;
}

.other_surface {
  background-color: #e5efff;
}

.area {
  padding-top: 2%;
  background-color: #e5efff;
}

.tai_searchbar_faq {
  position: absolute;
  z-index: 10000;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.tai_keyword_search {
  border: rgba(25, 47, 98, 0.63);
  height: 15%;
}

.btn-faq-success {
  background-color: #e95212;
}

.response {
  display: none;
  margin-left: 105px;
}

.question>.cercle>.contenu_cercle::before {
  content: '+';
  text-align: center;
  font-size: 28px;
  color: #1a3f92;
}