.tai_text {
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: justify;
	color: rgba(25, 47, 98, 0.63);
}

.img_illustrations {
	background-image: url("img/tai_jta1.webp");
	background-size: 120px 300px;
}

.tai_talent_section {
	margin-top: 40px;
}

/* *** */


.tai-testimonial-container,
.enterprise-testimonial-container {
	width: 100px;
	height: 100px;
}

.tai-testimonial-container>img,
.enterprise-testimonial-container>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.enterprise-testimonial-container>img {
	border: 10px solid var(--tai-orange);
}

.text-justify {
	text-align: justify;
}

.enterprise-testimonial-text>h4 {
	opacity: 0.6;
}

@media screen and (max-width: 768px) {
	.enterprise_testimonial {
		flex-wrap: wrap;
	}

	.enterprise-testimonial-text {
		width: 100%;
		flex: auto;
	}

}

#jta_testimonials_container_slider>.carousel-indicators li {
	background-color: white !important;
}