.tai_searchbar {
    position: absolute;
    z-index: 10000;
    background-color: var(--tai-white);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -15%);
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
}

.tai_searchbar>.col, .tai_searchbar>.col-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.tai_searchbar>.form-group {
    margin: 25px 5px;
}

.searchbar {
    position: relative;
}

.tai_searchbar>.btn-tai, .tai_searchbar>.btn-tai:hover {
    transform: translate(0);
    height: 44px;
    width: 40px;
    box-shadow: 0px 0px 0px;
    padding: 15px 15px;
    margin-left: 5px !important;
    margin-right: 15px !important;
}

.tai_searchbar > * > .form-control {
    padding-left: 5px;
}