#goals {
    background-color: var(--tai-blue);
    text-align: center;
    border-radius: 15px;
    color: var(--tai-white);
    margin: 5em 0px;
    padding: 25px 0px;
}

#goals>h2 {
    color: var(--tai-white);
}

#goals>section>div {
    padding: 25px;
}