.btn-tai {
    padding: 10px 35px;
    margin: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.733);
    font-weight: bold;
    transition: 0.4s ease-in-out;
    line-height: normal;
}

.btn-tai,
.btn-tai>a {
    color: var(--tai-white);
    text-decoration: none;
}

.btn-tai>a {
    width: 100%;
}

.btn-tai-success {
    background-color: var(--tai-green);
}

.btn-tai-blue {
    background-color: var(--tai-blue);
    box-shadow: 0px 3px 7px var(--tai-blue);
}

.btn-tai-secondary {
    background-color: var(--tai-orange);
}

.btn-tai-grey {
    background-color: rgba(25, 47, 98, 0.63);
    padding: 3px 7px;
    margin: 0px 0px;
}

.btn-tai-blue-dark {
    background-color: var(--tai-dark-blue);
}

.btn-tai:hover {
    transform: translateY(-3px);
    line-height: normal;
}

.btn-rubrique-blue, .btn-rubrique-blue:hover, .btn-rubrique-blue:focus {
    background-color: var(--tai-blue);
    color: white;
}