#tai_carousel_indicators {
    position: relative;
    width: 100%;
    margin: 0px;
    background-color: transparent;
}

#tai_carousel_indicators>li {
    background-color: var(--tai-blue);
    width: 15px;
    height: 15px;
    margin: 15px;
    border-radius: 100%;
}

.carousel_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 8.33333%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    font-size: 3em;
    color: var(--tai-dark-blue);
    font-family: 'Roboto';
}

#carousel_logo {
    position: absolute;
    right: 8.33333%;
    bottom: 5%;
    z-index: 100;
    width: 110px;
}

.carousel-item>.carousel_title {
    font-weight: bold;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    z-index: 10;
}

#tai_carousel>.carousel-inner>.carousel-item {
    height: 35vh;
}

#tai_carousel>.carousel-inner>.carousel-item>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 992px) {
    #tai_carousel>.carousel-inner>.carousel-item {
        height: 35vh;
    }

    .carousel-item>.carousel_title {
        font-size: 1.1em;
        font-weight: bold;
    }

    #carousel_logo {
        width: 70px;
    }

    #tai_carousel_indicators>button {
        background-color: var(--tai-blue);
        width: 8px;
        height: 8px;
        margin: 8px;
        border-radius: 100%;
    }
}

.img-news {
    margin-top: 94px;
}

.carousel-item {
    position: relative;
}

.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #1a3f92;
    opacity: 0.5;
}