#mobile_menu {
    display: flex;
    cursor: pointer;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
    margin-right: 1rem;
    margin-left: 0rem;
}

#mobile_menu>div {
    background-color: var(--tai-blue);
    height: 4px;
    width: 100%;
    margin: 2px 0px;
    border-radius: 10px;
}

#mobile_nav {
    position: fixed;
    z-index: 9990;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--tai-grey);
    padding: 15px;
    transition: 0.4s ease-in-out;
}

.tai_nav_link_mobile {
    text-align: left;
    font-size: 1.5rem;
}