.mission_offers {
    position: relative;
    z-index: 1000;
    padding-top: 1rem;
    padding-bottom: 25px;
}

.linear_bg {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(229, 239, 255, 1));
}

.mission_offers::before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100vw;
    height: 70%;
    left: -11.5%;
    top: 25%;
    background-color: var(--tai-grey);
}

.no_before::before {
    display: none;
}

.offer_list {
    z-index: 5000;
}

.mission_container {
    padding: 10px;
}

.mission {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.733);
    height: 277.3px;
}

.mission>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.mission>header {
    position: relative;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.mission>header>.tai_title, .mission>header>*>.tai_title {
    font-size: 1rem;
    color: var(--tai-green);
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-right: 5px;
}

.mission_enterprise_p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mission>header>div>.tai_title {
    max-width: 270px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1600px) {
    .mission>header>div>.tai_title {
        max-width: 215px;
    }
}

@media screen and (max-width: 1400px) {
    .mission>header>div>.tai_title {
        max-width: 160px;
    }
}

@media screen and (max-width: 1199px) {
    .mission>header>div>.tai_title {
        max-width: 235px;
    }
}

@media screen and (max-width: 1020px) {
    .mission>header>div>.tai_title {
        max-width: 185px;
    }
}

@media screen and (max-width: 769px) {
    .mission>header>div>.tai_title {
        max-width: 150px;
    }
}

.mission>h4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--tai-blue);
}

.mission>div {
    margin-bottom: 10px;
}

.mission>div>p {
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
}

.mission_offers>section>button {
    position: relative;
    z-index: 100;
}

.mission_offers>section>button>svg {
    position: absolute;
    content: "";
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mission_offers>section>button:hover>svg {
    z-index: -1;
}

.offer_by_country {
    background-color: rgba(215, 228, 249, 0.5);
    padding: 5rem 0px;
    padding-bottom: 0rem;
}

.offer_by_country>section {
    position: relative;
    padding-bottom: 3rem !important;
}

.offer_by_country>section>button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0px;
    margin-top: 0px;
}

.form-group>select {
    color: #777777;
    appearance: auto;
}

.all_offer::before {
    display: none;
    background-color: transparent;
}

@media screen and (max-width: 1250px) {
    .mission_offers::before {
        display: none;
    }
}