#linkedin_menu,
#facebook_menu {
    position: relative;
    z-index: 1000;
}

#linkedin_links,
#facebook_links {
    position: absolute;
    display: none;
    content: "";
    width: max-content;
    right: 0%;
    top: 100%;
    padding: 10px;
    background-color: var(--tai-dark-blue);
    color: var(--tai-white);
    text-align: left;
    border-radius: 5px;
}

#linkedin_links>div>a,
#facebook_links>div>a {
    color: var(--tai-white);
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

#linkedin_links>div>a:hover,
#facebook_links>div>a:hover {
    color: var(--tai-orange);
}

#linkedin_menu:hover>#linkedin_links,
#facebook_menu:hover>#facebook_links {
    display: block;
}