.contact_tai {
  color: var(--tai-blue);
  font-weight: bold;
  font-size: 48px;
}

#tai_text_contact {
  margin-top: 25px;
}

.tai_text_contact_us {
  position: relative;
  width: fit-content;
}

#first_text_contact {
  width: 450px;
  font-size: 32px;
  color: #e95212;
  position: absolute;
  padding-bottom: 10px;
  padding-left: 50px;
}

#second_text_contact {
  width: 862px;
  font-family: Inter;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  position: absolute;
  color: #1a3f92;
  padding-left: 50px;
  padding-top: 105px;
}

#tai_contact_bubble {
  position: absolute;
  width: 55.9px;
  height: 55.9px;
  top: 34px;
  left: 60px;
}

#tai_contact_info {
  top: 55px;
  left: 75px;
  font-family: Inter;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  color: #fff;

}

.tai_contact_mail {
  top: 105px;
  left: 85px;
  font-family: Inter !important;
  ;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #fff;

}

.Rectangle-238-contact {
  top: 85%;
  right: 0;
  width: 44px;
  height: 6px;
  border-radius: 5px;
  background-color: #e95212;
  position: absolute;
}

.contactus {
  background-color: #1a3f92;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.733);
  padding: 15px !important;
  height: 277.3px;
}

.contactus>* {
  padding-left: 55px !important;
}

.contactus>div:nth-child(1) {
  padding-left: 25px !important;
}

.contact_us_email {
  color: #fff !important;
}

.contact_info_container {
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
}

/* NEW VERSION */

.tai-contact-card {
  background-color: #1a3f92;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 73%);
}

.tai-contact-card-title {
  position: relative;
}

.tai-contact-card-title::after {
  position: absolute;
  z-index: 1;
  content: "";
  right: 0%;
  bottom: 0%;
  height: 5px;
  background-color: #e95212;
  width: 50px;
  border-radius: 1rem;
  transition: 0.4s ease-in-out;
}

.tai-contact-card:hover>.tai-contact-card-title::after {
  width: 90%;
}

.tai-contact-card-detail {
  font-weight: bold;
  word-break: break-all;
  font-size: 1.1rem;
}

@media screen and (max-width: 1200px) {
  .tai-contact-card-detail {
    font-size: 0.8rem;
  }
}