html {
    /*** Définition des variables couleurs TAI ***/
    --tai-white: rgba(0, 0, 0, 0.07);
    --tai-blue: #1a3f92;
    --tai-orange: #e95212;
    --tai-green: #107834;
    --tai-dark-blue: #192f62;
    --tai-light-blue: rgba(25, 47, 98, 0.63);
    --tai-grey: rgba(215, 228, 249, 0.5);
    --tai-white: #ffffff;

    background-color: var(--tai-white);
}

.tai-bg-primary {
    background-color: var(--tai-blue);
    color: var(--tai-white) !important;
}

.tai-bg-secondary {
    background-color: var(--tai-light-blue);
    color: var(--tai-white) !important;
}

.form-control {
    height: calc(1.5em + 0.75rem + 8px);
}

.tai-text-primary {
    color: var(--tai-blue) !important;
}

.tai-bg-white {
    background-color: var(--tai-white);
}

.tai-bg-white-blue {
    background-color: var(--tai-grey) !important;
}

.tai-bg-grey {
    background-color: var(--tai-grey) !important;
}

.tai-text-white {
    color: var(--tai-white);
}

.tai-bg-info {
    background-color: var(--tai-orange)
}

.tai-text-info {
    color: var(--tai-orange) !important
}

.tai-text-orange {
    color: var(--tai-orange) !important
}

.box-shadow-black {
    box-shadow: 0px 0px 5px black;
}