@font-face {
    font-family: "Roboto";
    src: url("/web_tai_auth_signup/static/src/fonts/Roboto-Medium.ttf");
}

h1,
h4,
h5 {
    font-family: 'Roboto', 'sans-serif';
}

body {
    padding: 0px;
    margin: 0px;
}

#container-tai {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#sub-container {
    background-color: #1a3f92;
    margin: 0px;
    padding: 0px;
}

#sub-right,
#sub-left {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
}

#sub-left {
    background-color: white;
    padding: 25px 10px;
}

#sub-right>img {
    padding-left: 0px;
    padding-right: 0px;
}

#tai-svg {
    height: 350px;
}

#sr_white_logo {
    width: 150px;
    position: absolute;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
}

@media screen and (max-width: 1200px) {
    #tai-svg {
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    #sub-right {
        height: fit-content;
        min-height: auto;
    }

    #sr_white_logo {
        width: 75px;
    }
}

#condition-tai {
    color: #e95212
}

.default {
    border-color: #e7e7e7;
    color: rgba(25, 47, 98, 0.74);
}

.default:hover {
    color: rgba(25, 47, 98, 0.74);
}

.default>img {
    margin-right: 10px;
}

#title-tai {
    text-align: center;
    font-size: 26px;
    color: #1a3f92;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 14px;
}

.modal-title {
    text-align: center;
    font-size: 15px;
    color: #1a3f92;
    font-weight: bold;

}

#title-tai-2 {
    font-size: 20px;
    text-transform: none;
    color: #1a3f92;
}

.btn-signup {
    background-color: #1a3f92;
    color: #e7e7e7;
    text-transform: uppercase;
}

.btn-signup:hover {
    color: #e7e7e7;
}

.btn-google {
    background-color: transparent;
}

.btn-google :hover {
    color: #e7e7e7;
}

.box31 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}

#img4 {
    width: 130px;
    position: absolute;
    bottom: 50px;
    right: 25px;
}

.personalise>.col-6:first-child,
.personalise>.col-6:first-child>.container-fluid {
    padding-left: 0;
}

.personalise>.col-6:last-child,
.personalise>.col-6:last-child>.container-fluid {
    padding-right: 0;
}

.btn-previous {
    background-color: #e95212;
    color: #e7e7e7;
    text-transform: uppercase;
}

.space-form {
    margin-bottom: 2em !important;
    color: rgba(25, 47, 98, 0.74)
}

.btn-cancel {
    background-color: #e95212;
    color: #e7e7e7
}

.btn-agree {
    background-color: #107834;
    color: #e7e7e7
}

#title-article {
    color: #1a3f92;
    font-size: 12px;
}

.active {
    background-color: transparent !important;
}

.all-articles {
    font-size: 12px;
    font-family: 'Roboto', 'sans-serif';
}


/* ********** */
html {
    /*** Définition des variables couleurs TAI ***/
    --tai-white: rgba(0, 0, 0, 0.07);
    --tai-blue: #1a3f92;
    --tai-orange: #e95212;
    --tai-green: #107834;
    --tai-dark-blue: #192f62;
    --tai-light-blue: rgba(25, 47, 98, 0.63);
    --tai-grey: rgba(215, 228, 249, 1);
    --tai-white: #ffffff;
}

/* Btn */
.btn-tai {
    padding: 10px 35px;
    margin: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.733);
    font-weight: bold;
    transition: 0.4s ease-in-out;
    line-height: normal;
}

.btn-tai,
.btn-tai>a {
    color: var(--tai-white);
    text-decoration: none;
}

.btn-tai>a {
    width: 100%;
}

.btn-tai-success {
    background-color: var(--tai-green);
}

.btn-tai-blue {
    background-color: var(--tai-blue);
    box-shadow: 0px 3px 7px var(--tai-blue);
}

.btn-tai-secondary {
    background-color: var(--tai-orange);
}

.btn-tai-grey {
    background-color: rgba(25, 47, 98, 0.63);
    padding: 3px 7px;
    margin: 0px 0px;
}

.btn-tai-blue-dark {
    background-color: var(--tai-dark-blue);
}

.btn-tai:hover {
    transform: translateY(-3px);
    line-height: normal;
}

#sub-container-login {
    background-color: #1a3f92;
    margin: 0px;
    padding: 0px;
}

#sub-right,
#sub-left {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
}

#sub-left {
    background-color: white;
}

#sub-container-login>#sub-right {
    background-image: url(/web_tai_auth_signup/static/src/img/tai_login_right_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sub-right>img {
    padding-left: 0px;
    padding-right: 0px;
}

#tai-svg {
    height: 350px;
}

#sr_white_logo {
    width: 150px;
    position: absolute;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
}

.tai_signup_redirection {
    text-align: center;
    font-weight: bold;
}

.tai_signup_redirection>main {
    height: 485px;
}

.tai_signup_redirection>header {
    padding: 15px 5px;
    font-size: 24px;
    background-color: transparent;
}

#sub-right>.tai_signup_redirection>header {
    color: white;
}

#sub-left>.tai_signup_redirection>header {
    color: #1a3f92;
}

.tai_signup_redirection>main>section {
    font-size: 24px;
    height: 175px;
}

#sub-right>.tai_signup_redirection>main {
    background-color: white;
    color: #1a3f92;
    border-radius: 0px 10px 10px 0px;

}

#sub-left>.tai_signup_redirection>main {
    background-color: #1a3f92;
    color: white;
    border-radius: 10px 0px 0px 10px;

}

@media screen and (min-width: 1200px) {
    .tai_signup_redirection>main>section {
        font-size: 24px;
        height: 180px;
    }
}

@media screen and (min-width: 1400px) {
    .tai_signup_redirection>main>section {
        font-size: 24px;
        height: 165px;
    }
}

@media screen and (min-width: 1600px) {
    .tai_signup_redirection>main>section {
        font-size: 24px;
        height: 140px;
    }
}

@media screen and (max-width: 1200px) {
    #tai-svg {
        height: 200px;
    }
}

@media screen and (max-width: 992px) {
    #sub-right, #sub-left, .tai_signup_redirection>main>section, .tai_signup_redirection>main {
        height: fit-content !important;
        min-height: auto !important;
    }

    .tai_signup_redirection>main {
        border-radius: 10px !important;
    }

    .tai_signup_redirection>header {
        font-size: 1.3rem;
    }

    .tai_signup_redirection>main>section, .tai_signup_redirection>main>a>button {
        font-size: 1rem;
    }

    .bg-portal {
        background-color: white !important;
    }

    div>.space-form {
        margin-bottom: 0.6rem !important;
    }
}

@media screen and (max-width: 767px) {
    #sr_white_logo {
        width: 75px;
    }
}