@font-face {
    font-family: "Roboto";
    src: url("/web_tai_auth_signup/static/src/fonts/Roboto-Medium.ttf");
}

h1,
h4,
h5 {
    font-family: 'Roboto', 'sans-serif';
}

body {
    padding: 0px;
    margin: 0px;
}

#sub-container {
    background-color: #1a3f92;
    margin: 0px;
    padding: 0px;
}

#sub-right,
#sub-left {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
}

#sub-left {
    background-color: white;
    padding: 25px 10px;
}

#sub-right>img {
    padding-left: 0px;
    padding-right: 0px;
}

#tai-svg {
    height: 350px;
}

#sr_white_logo {
    width: 150px;
    position: absolute;
    z-index: 1000;
    bottom: 25px;
    right: 25px;
}

@media screen and (max-width: 1200px) {
    #tai-svg {
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    #sub-right {
        height: fit-content;
        min-height: auto;
    }

    #sr_white_logo {
        width: 75px;
    }
}

#condition-tai {
    color: #e95212
}

.default {
    border-color: #e7e7e7;
    color: rgba(25, 47, 98, 0.74);
}

.default:hover {
    color: rgba(25, 47, 98, 0.74);
}

.default>img {
    margin-right: 10px;
}

#title-tai {
    text-align: center;
    font-size: 26px;
    color: #1a3f92;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 14px;
}

.modal-title {
    text-align: center;
    font-size: 25px;
    color: #1a3f92;
    font-weight: bold;
}

#title-tai-2 {
    font-size: 20px;
    text-transform: none;
    color: #1a3f92;
}

.btn-signup {
    background-color: #1a3f92;
    color: #e7e7e7;
    text-transform: uppercase;
}

.btn-signup:hover {
    color: #e7e7e7;
}

.btn-google {
    background-color: transparent;
}

.btn-google :hover {
    color: #e7e7e7;
}

.box31 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}

#img4 {
    width: 130px;
    position: absolute;
    bottom: 50px;
    right: 25px;
}

.personalise>.col-6:first-child,
.personalise>.col-6:first-child>.container-fluid {
    padding-left: 0;
}

.personalise>.col-6:last-child,
.personalise>.col-6:last-child>.container-fluid {
    padding-right: 0;
}

.btn-previous {
    background-color: #e95212;
    color: #e7e7e7;
    text-transform: uppercase;
}

.space-form {
    margin-bottom: 2em !important;
    color: rgba(25, 47, 98, 0.74)
}

.btn-cancel {
    background-color: #e95212;
    color: #e7e7e7
}

.btn-agree {
    background-color: #107834;
    color: #e7e7e7
}

#title-article {
    color: #1a3f92;
}

.active {
    background-color: transparent !important;
}

.bg-portal {
    background-color: white !important;
}