#tai_header_top {
    background-color: var(--tai-blue);
}

#tai_header_top_nav {
    background-color: var(--tai-blue);
}

#tai_header_top>nav>div {
    padding-right: 0px;
}

#tai_header_top_nav>ul>li>.nav-link {
    color: var(--tai-white);
    transition: 0.4s ease-in-out;
}

#tai_header_top_nav>ul>li>.nav-link:hover {
    color: var(--tai-orange)!important;
}

#tai_header_bottom>nav {
    padding: 0px;
}

#header_logo_container {
    padding: 0px;
    margin: 0px;
    padding-bottom: 7px;
}

#header_logo {
    height: 90px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 1rem;
}

.nav-item {
    height: 100%;
}

.tai_nav_link>.nav-link {
    position: relative;
    height: 100%;
    color: var(--tai-blue);
    overflow: hidden;
    margin: 0px 8px;
    padding: 2.35rem 0.4rem;
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
}

.nav-link:hover {
    color: var(--tai-orange)!important;
}

.tai_nav_link>.nav-link::after {
    position: absolute;
    content: "";
    z-index: 100;
    left: -100%;
    right: 0%;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    border-radius: 50px;
}

.tai_nav_link>.nav-link:hover::after {
    background-color: var(--tai-orange);
    left: 0%;
}

.tai_nav_link>.nav-link-active::after {
    left: 0%;
    background-color: var(--tai-orange);
    border-radius: 100px;
}

@media screen and (max-width: 1200px) {
    #header_logo_container {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    *>.container-fluid {
        padding: 0px;
        margin: 0px;
    }
    .nav-link {
        font-size: 0.8rem;
        padding: 3px 4px;
    }
    #tai_header_bottom>nav {
        width: 100% !important;
    }
    .tai_nav_link>.nav-link {
        margin: 2px;
        padding: 3px 4px;
    }
}