.tai_title{
    position: relative;
    font-weight: bold;
    padding-bottom: 25px;
    padding-left: 0px;
    margin-bottom: 25px;
    color: var(--tai-blue);
    font-size: 2rem;
}
.tai_title::after{
    position: absolute;
    z-index: 100;
    content: "";
    left: 0%;
    bottom: 0%;
    width: 40px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--tai-orange);
    transition: 0.4s ease-in-out;
}