#mission_offers {
    position: relative;
    z-index: 1000;
    margin-bottom: 25px;
}

#mission_offers::before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100vw;
    height: 70%;
    left: -11.5%;
    top: 25%;
    background-color: var(--tai-grey);
}

.no_before::before {
    display: none;
}

#offer_list {
    z-index: 5000;
}

.mission_container {
    padding: 10px 25px 10px 0px;
}

.mission {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.733);
    padding: 15px;
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.mission>.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.mission>header {
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.mission>header>.tai_title {
    font-size: 1rem;
    color: var(--tai-green);
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.mission>h4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 45px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--tai-blue);
}

.mission>div {
    margin-bottom: 10px;
}

.mission>div>p {
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
}

#mission_offers>section>button {
    position: relative;
    z-index: 100;
}

#mission_offers>section>button>svg {
    position: absolute;
    content: "";
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#mission_offers>section>button:hover>svg {
    z-index: -1;
}