#tai_carousel_indicators {
    position: relative;
    width: 100%;
    margin: 0px;
    background-color: transparent;
}

#tai_carousel_indicators>li {
    background-color: var(--tai-blue);
    width: 15px;
    height: 15px;
    margin: 15px;
    border-radius: 100%;
}

.carousel_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 8.33333%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    font-size: 3em;
    color: var(--tai-dark-blue);
    font-family: 'Roboto';
}

#carousel_logo {
    position: absolute;
    right: 8.33333%;
    bottom: 5%;
    z-index: 100;
    width: 110px;
}

@media screen and (max-width: 992px) {
    .carousel_title {
        font-size: 1.1em;
        font-weight: bold;
    }
    #carousel_logo {
        width: 70px;
    }
    #tai_carousel_indicators>button {
        background-color: var(--tai-blue);
        width: 8px;
        height: 8px;
        margin: 8px;
        border-radius: 100%;
    }
}