.tai_section>p {
    color: var(--tai-light-blue);
    padding-right: 5em;
    padding-left: 0px;
    text-align: justify;
}

.tai_section>p>a,
.tai_section>p>a>.btn-tai {
    margin-left: 0px;
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
    .tai_section>p {
        padding-right: 0px;
    }
}